// Place all the styles related to the home_controller controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.error {
  background: red;
  color: white;
}

.notice {
  background: green;
  color: white;
}